@font-face {
  font-family: 'demo1';
  src: url('../font/iconfont.eot');
  /* IE9*/
  src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../font/iconfont.woff') format('woff'), /* chrome、firefox */ url('../font/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('../font/iconfont.svg#iconfont') format('svg');
  /* iOS 4.1- */
}
*[data-a=xinjian]:before {
  content: '\e600';
  font-family: demo1;
}
*[data-a=xinjian][icon-pos=right]:before {
  content: '';
  font-family: demo;
}
*[data-a=xinjian][icon-pos=right]:after {
  content: '\e600';
  font-family: demo;
}
*[data-role=xinjian][icon-pos=top]:before {
  content: '';
  font-family: demo;
}
*[data-role=xinjian][icon-pos=top]:before {
  display: block;
  content: '\e600';
  font-family: demo;
}
*[data-role=xinjian][icon-pos=bottom]:before {
  content: '';
  font-family: demo;
}
*[data-role=xinjian][icon-pos=bottom]:after {
  display: block;
  content: '\e600';
  font-family: demo;
}
*[data-a=baocun]:before {
  content: '\e601';
  font-family: demo1;
}
*[data-a=baocun][icon-pos=right]:before {
  content: '';
  font-family: demo;
}
*[data-a=baocun][icon-pos=right]:after {
  content: '\e601';
  font-family: demo;
}
*[data-role=baocun][icon-pos=top]:before {
  content: '';
  font-family: demo;
}
*[data-role=baocun][icon-pos=top]:before {
  display: block;
  content: '\e601';
  font-family: demo;
}
*[data-role=baocun][icon-pos=bottom]:before {
  content: '';
  font-family: demo;
}
*[data-role=baocun][icon-pos=bottom]:after {
  display: block;
  content: '\e601';
  font-family: demo;
}
*[data-a=caijian]:before {
  content: '\e602';
  font-family: demo1;
}
*[data-a=caijian][icon-pos=right]:before {
  content: '';
  font-family: demo;
}
*[data-a=caijian][icon-pos=right]:after {
  content: '\e602';
  font-family: demo;
}
*[data-role=caijian][icon-pos=top]:before {
  content: '';
  font-family: demo;
}
*[data-role=caijian][icon-pos=top]:before {
  display: block;
  content: '\e602';
  font-family: demo;
}
*[data-role=caijian][icon-pos=bottom]:before {
  content: '';
  font-family: demo;
}
*[data-role=caijian][icon-pos=bottom]:after {
  display: block;
  content: '\e602';
  font-family: demo;
}
*[data-a=huaban]:before {
  content: '\e603';
  font-family: demo1;
}
*[data-a=huaban][icon-pos=right]:before {
  content: '';
  font-family: demo;
}
*[data-a=huaban][icon-pos=right]:after {
  content: '\e603';
  font-family: demo;
}
*[data-role=huaban][icon-pos=top]:before {
  content: '';
  font-family: demo;
}
*[data-role=huaban][icon-pos=top]:before {
  display: block;
  content: '\e603';
  font-family: demo;
}
*[data-role=huaban][icon-pos=bottom]:before {
  content: '';
  font-family: demo;
}
*[data-role=huaban][icon-pos=bottom]:after {
  display: block;
  content: '\e603';
  font-family: demo;
}
*[data-a=xiangpi]:before {
  content: '\e604';
  font-family: demo1;
}
*[data-a=xiangpi][icon-pos=right]:before {
  content: '';
  font-family: demo;
}
*[data-a=xiangpi][icon-pos=right]:after {
  content: '\e604';
  font-family: demo;
}
*[data-role=xiangpi][icon-pos=top]:before {
  content: '';
  font-family: demo;
}
*[data-role=xiangpi][icon-pos=top]:before {
  display: block;
  content: '\e604';
  font-family: demo;
}
*[data-role=xiangpi][icon-pos=bottom]:before {
  content: '';
  font-family: demo;
}
*[data-role=xiangpi][icon-pos=bottom]:after {
  display: block;
  content: '\e604';
  font-family: demo;
}
*[data-a=chexiao]:before {
  content: '\e605';
  font-family: demo1;
}
*[data-a=chexiao][icon-pos=right]:before {
  content: '';
  font-family: demo;
}
*[data-a=chexiao][icon-pos=right]:after {
  content: '\e605';
  font-family: demo;
}
*[data-role=chexiao][icon-pos=top]:before {
  content: '';
  font-family: demo;
}
*[data-role=chexiao][icon-pos=top]:before {
  display: block;
  content: '\e605';
  font-family: demo;
}
*[data-role=chexiao][icon-pos=bottom]:before {
  content: '';
  font-family: demo;
}
*[data-role=chexiao][icon-pos=bottom]:after {
  display: block;
  content: '\e605';
  font-family: demo;
}
*[data-a=huabi]:before {
  content: '\e606';
  font-family: demo1;
}
*[data-a=huabi][icon-pos=right]:before {
  content: '';
  font-family: demo;
}
*[data-a=huabi][icon-pos=right]:after {
  content: '\e606';
  font-family: demo;
}
*[data-role=huabi][icon-pos=top]:before {
  content: '';
  font-family: demo;
}
*[data-role=huabi][icon-pos=top]:before {
  display: block;
  content: '\e606';
  font-family: demo;
}
*[data-role=huabi][icon-pos=bottom]:before {
  content: '';
  font-family: demo;
}
*[data-role=huabi][icon-pos=bottom]:after {
  display: block;
  content: '\e606';
  font-family: demo;
}
*[data-a=wujiaoxing]:before {
  content: '\e607';
  font-family: demo1;
}
*[data-a=wujiaoxing][icon-pos=right]:before {
  content: '';
  font-family: demo;
}
*[data-a=wujiaoxing][icon-pos=right]:after {
  content: '\e607';
  font-family: demo;
}
*[data-role=wujiaoxing][icon-pos=top]:before {
  content: '';
  font-family: demo;
}
*[data-role=wujiaoxing][icon-pos=top]:before {
  display: block;
  content: '\e607';
  font-family: demo;
}
*[data-role=wujiaoxing][icon-pos=bottom]:before {
  content: '';
  font-family: demo;
}
*[data-role=wujiaoxing][icon-pos=bottom]:after {
  display: block;
  content: '\e607';
  font-family: demo;
}
*[data-a=xian]:before {
  content: '\e608';
  font-family: demo1;
}
*[data-a=xian][icon-pos=right]:before {
  content: '';
  font-family: demo;
}
*[data-a=xian][icon-pos=right]:after {
  content: '\e608';
  font-family: demo;
}
*[data-role=xian][icon-pos=top]:before {
  content: '';
  font-family: demo;
}
*[data-role=xian][icon-pos=top]:before {
  display: block;
  content: '\e608';
  font-family: demo;
}
*[data-role=xian][icon-pos=bottom]:before {
  content: '';
  font-family: demo;
}
*[data-role=xian][icon-pos=bottom]:after {
  display: block;
  content: '\e608';
  font-family: demo;
}
*[data-a=yuan]:before {
  content: '\e609';
  font-family: demo1;
}
*[data-a=yuan][icon-pos=right]:before {
  content: '';
  font-family: demo;
}
*[data-a=yuan][icon-pos=right]:after {
  content: '\e609';
  font-family: demo;
}
*[data-role=yuan][icon-pos=top]:before {
  content: '';
  font-family: demo;
}
*[data-role=yuan][icon-pos=top]:before {
  display: block;
  content: '\e609';
  font-family: demo;
}
*[data-role=yuan][icon-pos=bottom]:before {
  content: '';
  font-family: demo;
}
*[data-role=yuan][icon-pos=bottom]:after {
  display: block;
  content: '\e609';
  font-family: demo;
}
*[data-a=zhengfangxing]:before {
  content: '\e60a';
  font-family: demo1;
}
*[data-a=zhengfangxing][icon-pos=right]:before {
  content: '';
  font-family: demo;
}
*[data-a=zhengfangxing][icon-pos=right]:after {
  content: '\e60a';
  font-family: demo;
}
*[data-role=zhengfangxing][icon-pos=top]:before {
  content: '';
  font-family: demo;
}
*[data-role=zhengfangxing][icon-pos=top]:before {
  display: block;
  content: '\e60a';
  font-family: demo;
}
*[data-role=zhengfangxing][icon-pos=bottom]:before {
  content: '';
  font-family: demo;
}
*[data-role=zhengfangxing][icon-pos=bottom]:after {
  display: block;
  content: '\e60a';
  font-family: demo;
}
