@font-face {
  font-family: 'demo1';
  src: url('../../font1/iconfont.eot');
  /* IE9*/
  src: url('../../font1/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../../font1/iconfont.woff') format('woff'), /* chrome、firefox */ url('../../font1/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('../../font1/iconfont.svg#iconfont') format('svg');
  /* iOS 4.1- */
}
*[data-role=yumao]:before {
  content: '\e600';
  font-family: demo1;
}
*[data-role=yumao][icon-pos=right]:before {
  content: '';
  font-family: demo;
}
*[data-role=yumao][icon-pos=right]:after {
  content: '\e600';
  font-family: demo;
}
*[data-role=yumao][icon-pos=top]:before {
  content: '';
  font-family: demo;
}
*[data-role=yumao][icon-pos=top]:before {
  display: block;
  content: '\e600';
  font-family: demo;
}
*[data-role=yumao][icon-pos=bottom]:before {
  content: '';
  font-family: demo;
}
*[data-role=yumao][icon-pos=bottom]:after {
  display: block;
  content: '\e600';
  font-family: demo;
}
*[data-role=fdj]:before {
  content: '\e601';
  font-family: demo1;
}
*[data-role=fdj][icon-pos=right]:before {
  content: '';
  font-family: demo;
}
*[data-role=fdj][icon-pos=right]:after {
  content: '\e601';
  font-family: demo;
}
*[data-role=fdj][icon-pos=top]:before {
  content: '';
  font-family: demo;
}
*[data-role=fdj][icon-pos=top]:before {
  display: block;
  content: '\e601';
  font-family: demo;
}
*[data-role=fdj][icon-pos=bottom]:before {
  content: '';
  font-family: demo;
}
*[data-role=fdj][icon-pos=bottom]:after {
  display: block;
  content: '\e601';
  font-family: demo;
}
*[data-role=chilun]:before {
  content: '\e602';
  font-family: demo1;
}
*[data-role=chilun][icon-pos=right]:before {
  content: '';
  font-family: demo;
}
*[data-role=chilun][icon-pos=right]:after {
  content: '\e602';
  font-family: demo;
}
*[data-role=chilun][icon-pos=top]:before {
  content: '';
  font-family: demo;
}
*[data-role=chilun][icon-pos=top]:before {
  display: block;
  content: '\e602';
  font-family: demo;
}
*[data-role=chilun][icon-pos=bottom]:before {
  content: '';
  font-family: demo;
}
*[data-role=chilun][icon-pos=bottom]:after {
  display: block;
  content: '\e602';
  font-family: demo;
}
*[data-role=book]:before {
  content: '\e603';
  font-family: demo1;
}
*[data-role=book][icon-pos=right]:before {
  content: '';
  font-family: demo;
}
*[data-role=book][icon-pos=right]:after {
  content: '\e603';
  font-family: demo;
}
*[data-role=book][icon-pos=top]:before {
  content: '';
  font-family: demo;
}
*[data-role=book][icon-pos=top]:before {
  display: block;
  content: '\e603';
  font-family: demo;
}
*[data-role=book][icon-pos=bottom]:before {
  content: '';
  font-family: demo;
}
*[data-role=book][icon-pos=bottom]:after {
  display: block;
  content: '\e603';
  font-family: demo;
}
*[data-role=message]:before {
  content: '\e604';
  font-family: demo1;
}
*[data-role=message][icon-pos=right]:before {
  content: '';
  font-family: demo;
}
*[data-role=message][icon-pos=right]:after {
  content: '\e604';
  font-family: demo;
}
*[data-role=message][icon-pos=top]:before {
  content: '';
  font-family: demo;
}
*[data-role=message][icon-pos=top]:before {
  display: block;
  content: '\e604';
  font-family: demo;
}
*[data-role=message][icon-pos=bottom]:before {
  content: '';
  font-family: demo;
}
*[data-role=message][icon-pos=bottom]:after {
  display: block;
  content: '\e604';
  font-family: demo;
}
*[data-role=shujia]:before {
  content: '\e605';
  font-family: demo1;
}
*[data-role=shujia][icon-pos=right]:before {
  content: '';
  font-family: demo;
}
*[data-role=shujia][icon-pos=right]:after {
  content: '\e605';
  font-family: demo;
}
*[data-role=shujia][icon-pos=top]:before {
  content: '';
  font-family: demo;
}
*[data-role=shujia][icon-pos=top]:before {
  display: block;
  content: '\e605';
  font-family: demo;
}
*[data-role=shujia][icon-pos=bottom]:before {
  content: '';
  font-family: demo;
}
*[data-role=shujia][icon-pos=bottom]:after {
  display: block;
  content: '\e605';
  font-family: demo;
}
