@import "init.css";
.nav{
    height:22px;
    margin-top:77px;
    color:#fff;
    font-size:18px;
}
.nav>.row{
    padding-left:18px;
}
.nav>.row>div>a{
    color:#fff;
    font-family: FE6,sans-serif;
}
.nav>.row>div>a:hover{
    color:#fff;
    text-decoration: none;
}
/*con开始*/
.con{
    height:auto;
    overflow: hidden;
    margin-top:50px;
}

.wenzi>.row>div>h1{
    margin-top:0;
    color:#fff;
    padding-left:4px;
    margin-bottom:22px;
    font-size: 42px;
    font-family: FE1,sans-serif;
}
.shijian>div>p{
    font-size: 12px;
    margin-bottom:22px;
    color:#fff;
    font-family: FE3,sans-serif;
}
.tag-con{
    padding-left:4px;
    color:#fff;
    float: left;
    margin-bottom:0;
}
.aw{
    width:140px;
    height:22px;
    float: left;
    margin-left:30px;
    line-height: 22px;
    text-align: center;
    background:#4c4948;
    margin-bottom:0;
    color:#fff;
    font-family: FE3,sans-serif;
}
.xian{
    border:1px solid #fff;
    margin:18px 0px 23px 4px;
}
.zi{
    padding-left:4px;
    color:#c8c8c8;
    font-family: "微软雅黑";
    text-align: justify;
    line-height: 200%;
}
/*con结束*/
/*footer开始*/
.footer{
    margin-top:20px;
    margin-bottom:79px;
}
.banner-con{
    padding-left:18px;
    padding-right:18px;
}
#banner{
    height:100%;
    padding:0;
}
#banner>li{
    width:18.4%;
    float: left;
    margin-right:2%;
}
#banner>li:last-child{
    margin-right:0;
}
#banner>li>img{
    width:100%;
}
.bottom{
    width:100%;
    height:auto;
    position:relative;
}
.bottom-btn{
    width:100%;
    height:30px;
    position:absolute;
    top:0;
    bottom:0;
    margin:auto 0;
}
.bottom-btn-left,.bottom-btn-right{
    width:25px;
    height:25px;
    margin-left:1%;
    margin-top:2px;
    font-size: 14px;
    border-radius: 50%;
    text-align: center;
    line-height: 25px;
    color:#040000;
    background:#616161;
}
.bottom-btn-right{
    position: absolute;
    right:1%;
    top:0;
}
/*footer结束*/